html{
	background: url(background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Carter One', cursive;
	color: white;
	font-size: .75rem;
}
header{
	background:url(header.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
h2{
	margin:auto 0;
	width: 40%;
	padding: 10px;
	display: inline-block;
}
a{
	color: white;
	text-decoration: none;
	padding: 5px;
}
a:hover{
	color: darkred;
	text-decoration: underline;
}
nav{
	display: inline-block;
	position: relative;
	font-size: 1em;
	float: right;
	top: 14px;
	text-align: right;
	width: 40%;
}
img{
	text-align: center;
	width: 100%;
	padding: 0px;
	display: block;
	position: relative;
	margin-top: 8px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px){
	html{
		background: url(mobileBackground.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat; 
	}
	header{
		background:url(mobileHeader.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	body{
		font-size: 70%;
	}
}

@media only screen and (max-width: 550px){
	html{
		background: url(mobileBackground.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat; 
	}
	header{
		background:url(mobileHeader.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 100%;
	}
	body{
		font-size: 70%;
	}
	nav{
		font-size: .75rem;
	}
}