html{
	background: url(background.jpg);
	background-size: 100% 100%;
	height: 100%;
	background-repeat: no-repeat;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Carter One', cursive;
	color: white;
	font-size: .75rem;
}
header{
	background:url(header.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
h2{
	margin:auto 0;
	width: 40%;
	padding: 10px;
	display: inline-block;
}
li{
	color: white;
	text-decoration: none;
	display: inline-block;
}
li:hover{
	color: darkred;
	text-decoration: underline;
}
#headerNav{
	display: none;
	position: relative;
	font-size: 1em;
	float: right;
	top: 14px;
	text-align: right;
	width: 40%;
}
#homeNav{

	position: relative;
	font-size: 1em;
	float: right;
	top: 14px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	top: 60px;
}
#about{
	display: none;
}
img{
	text-align: center;
	width: 100%;
	padding: 0px;
	display: block;
	position: relative;
	margin-top: 8px;
}
p{
	background-color: rgba(0, 0, 102, .7);
	width: 80%;
	margin: 0 auto;
}
button{
	background-color: rgb(0, 0, 102) ;
	border: 2px rgba(0, 0, 102, .7) solid;
	border-radius: 10px;
	color: white;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px){
	html{
		background: url(mobileBackground.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat; 
	}
	header{
		background:url(mobileHeader.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	body{
		font-size: 70%;
	}
}

@media only screen and (max-width: 550px){
	html{
		background: url(mobileBackground.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat; 
	}
	header{
		background:url(mobileHeader.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 100%;
	}
	body{
		font-size: 70%;
	}
	#headerNav{
		font-size: .75rem;
	}
}